#directories
/cmake-build-default/
/build/
/.vscode/
/.idea/
/documentation/build/
/out/
/.sconf_temp/

# files
*.dblite
*.cdl
/res/middle_states.csv
config.log
_build/*
writer_test.nc

# bathymerty and displacement files
/res/artificialtsunami_bathymetry_1000.nc
/res/artificialtsunami_displ_1000.nc

/res/chile*
/res/tohoku*

